html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  scroll-behavior: smooth;
}

a {
  color: var(--colors-primary);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: min(calc(100vw - 32px), 920px);
}

pre {
  background-color: #0d1117;
  padding: 10px 20px;
  border-radius: 6px;
  max-width: 90vw;
  min-height: 100%;
}

code {
  white-space: pre-wrap;
}

.hljs {
  font-weight: 600;
  color: whitesmoke;
}

.hljs-selector-class {
  color: greenyellow;
}

.hljs-attribute,
.hljs-keyword {
  color: indianred;
}

.hljs-built_in {
  color: #e6db74;
}

.hljs-number {
  color: #f8f8f2;
}

.hljs-title,
.hljs-property {
  color: rgba(39, 148, 238, 0.726);
}

.hljs.language-json .hljs-comment {
  opacity: 0.6;
}

.hljs.language-json .hljs-attr {
  color: bisque;
}

@media screen and (min-width: 640px) {
  pre {
    max-width: 600px;
  }
}

.icon {
  -webkit-user-select: none;
  display: inline-block;
}

.icon {
  height: 72px;
  margin: 0 0 40px;
  width: 72px;
}
.icon {
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon-generic {
  content: -webkit-image-set(
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIAQMAAABvIyEEAAAABlBMVEUAAABTU1OoaSf/AAAAAXRSTlMAQObYZgAAAENJREFUeF7tzbEJACEQRNGBLeAasBCza2lLEGx0CxFGG9hBMDDxRy/72O9FMnIFapGylsu1fgoBdkXfUHLrQgdfrlJN1BdYBjQQm3UAAAAASUVORK5CYII=)
      1x,
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJAAAACQAQMAAADdiHD7AAAABlBMVEUAAABTU1OoaSf/AAAAAXRSTlMAQObYZgAAAFJJREFUeF7t0cENgDAMQ9FwYgxG6WjpaIzCCAxQxVggFuDiCvlLOeRdHR9yzjncHVoq3npu+wQUrUuJHylSTmBaespJyJQoObUeyxDQb3bEm5Au81c0pSCD8HYAAAAASUVORK5CYII=)
      2x
  );
}
